.bg-image {
    background-position: center;
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 40%;
    margin-top: -23px;
}


p{
	font-size: 23px
}

.logo {
	margin-left:15%;
	font-size:2em;
	font-weight: bold;
}
.cocol{
	position:relative;
	left:10%;
	color:blue;
}
.tel{
	position:relative;
	left:45%;
	color:white;
    font-family: "Merriweather", serif;
	margin-top: 10px;
}
.row{
	display:flex;
	flex-direction: row;

}

.flex{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.position{
	padding-top: 5%;
	padding-left: 2%;

}
.more{
	font-size:15px;
}

img {
	width: 100%;
}

.navbar {
	background-color: #003c5a;
}
h5{
	text-align: center;font-size: 37px;
	font-weight: 400;
    margin-top: 10%;
}

.logoballon{
    width: 50%;
}
.logocartable{
    width: 50%;
}
.logochapeau{
    width: 50%;
}
.logoglobe{
    width: 50%;
}
.logoetiquettes{
    width: 50%;
}
.logobouquin{
    width: 50%;
}
.mil{
	font-size:15%;
}
.eng{
	font-size:100%;
	font-weight: 300
}
.think{
	font-size:1em;
}

.img3{
	width:492;
	height: 432
}

.sec {
    background-color:#003c5a;
    text-align: center;
}

